
    body {
        text-align: center;
        color: #2e2e2e;
        overflow-x: hidden;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        background: #fff;
    }

    .banner {
        background-image: url('../images/slider-landing.jpg');
        background-size: cover;
        padding-top: 10%;
        padding-bottom: 18%;
        width: 100%;

    }
    .text {
        display: block;
        font-size: 4vw;
        margin-bottom: 1vw;
        color: white;
    }

    .banner p {
        display: block;
        color: white;
        font-size: 1.5em;
        padding-bottom: 80px;
    }

    .btn-pur {
        font-size: 0.8em;
        border: 2px white solid;
        border-radius: 3%;
        color: white;
        text-decoration: none;
        padding: 15px 40px;
    }

    .btn-pur:hover {
        border: 2px #ee5a51 solid;
        color: #ee5a51;
    }

    .select {
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 100px 0;
        display: block;
    }

    .box-img span {
        text-align: center;
        font-weight: bold;
        font-size: 13px;
        border: 2px solid #ededec;
        vertical-align: middle;
        display: inline-block;
        padding: 10px 75px;
        margin-top: 30px;
        border-radius: 2px;
        color: #2e2e2e;
        text-decoration: none;
    }

    .box-img span:hover {
        color: #ee5a51;
        border: 2px solid #ee5a51;
    }

    .box-img {
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
        transition: 0.3s;
        margin-top: 80px;
    }

    .content .img-content {
        margin-bottom: 40px;
        text-align: center;
    }

    .select .title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .box-responsive {
        background: #f5f5f5;
        text-align: center;
    }

    .footer {
        background: #131313;
        color: white;
    }

    .btn-foot {
        display: inline-block;
        border-radius: 3px;
        background: #eb3d32;
        color: #fff;
        padding: 20px 46px;
        margin: 65px 0;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
    }
    .btn-foot:hover{
        background: #aa3028;
        color: white;
    }
    .footer-bot{
        padding-top: 31px;
        color: #fff;
        border-top: 1px solid rgba(255,255,255,0.1);
    }